<div class="text-center jumbotron">
<h1>About PieceAPC</h1>
<p>PieceAPC is an application about creating new custom computers for yourself, and being able to share them with other people. If you don't know what you're looking to create you can always look at other user's builds or some inspiration.</p>
</div>
