<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Sort By <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><%= sortable "price" %></li>
    <li><%= sortable "rating" %></li>
  </ul>
</div>

<%= render "comps" %>
