<div class="page-header">
  <%= link_to computers_path, class: 'btn btn-custom' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @computer, class: 'btn btn-custom' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing computer</h1>
</div>

<%= render 'form' %>
